<!-- templates/video_detail.html -->  
{% extends 'base.html' %}  
{% block title %}{{ video.title }} - Sakura News Network{% endblock %}  
  
{% block content %}  
<main class="container my-5">  
    <div class="video-detail">  
        <h2 class="mb-4">{{ video.title }}</h2>  
        <p class="text-muted">{{ video.date }}</p>  
        <video controls preload="metadata">  
            <source src="{{ url_for('uploaded_file', filename=video.filename) }}" type="video/mp4">  
            Your browser does not support the video tag.  
        </video>  
    </div>  
</main>  
{% endblock %}  